.intro__title_theme_place {
  font-size: 72px;
  line-height: 76px;
  text-align: start;
  color: #FFFFFF;

}
@media screen and (max-width:768px) {
  .intro__title_theme_place {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width:720px) {
  .intro__title_theme_place {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}
