.page {
  height: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 28px 0px 24px;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "main"
  "footer";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
}

@media screen and (max-width:720px) {
  .page {
    display: flex;
    flex-direction: column;
    padding: 16px 0px 24px;
  }
}