.intro__title {
  font-family: "Black";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}  


@media screen and (max-width:700px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}