.cover{
  position: relative;
  display: grid;
  grid-template: 1fr/1fr;
  max-width: 1184px;
  margin: 0px 0px 92px;
}


@media screen and (max-width:1024px) {
  .cover{
    max-width: 100%;
  }
}
@media screen and (max-width:768px) {
  .cover{
    margin: 0px auto 88px;
  }
}

@media screen and (max-width:320px) {
  .cover{
    margin: 0px auto 64px;
  }
}
