.lead__caption {
  font-family: "Regular";
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin-top:8px;
  align-self:start;
}

@media screen and (max-width:768px) {
  .lead__caption {
    margin-left: 24px;
  }
}
@media screen and (max-width:320px) {
  .lead__caption {
    margin-left: 16px;
  }
}