.cover__title {
  font-family: "Black";
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin-bottom: 32px;
  color:#FFFFFF;
}

@media screen and (max-width:720px) {
  ..cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}