.footer {
  grid-area: footer;
  margin: 0px 48px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
@media screen and (max-width:768px) {
  .footer {
    margin: 0px 24px;
  }
}

@media screen and (max-width:720px) {
  .footer {
    flex-direction: column;
    max-height: 310px;
    align-items: start;
    margin-left: 16px;
  }
}